.vscode
misc/dev-tests/test.html
misc/dev-tests/test-goliath.html
misc/dev-tests/test-photokrystos.html
misc/premium_space_shooter_background_ver1.html
misc/guide.html.backup
.misc
misc/imagegen/
misc/scratch/
misc/tmp-pdfs/